/* Write your CSS here */
.vaccination-coverage-card-container {
  margin-top: 20px;
  background-color: #ffffff;
  background-size: cover;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-container {
  list-style: none;
  margin-right: 20px;
}
.bar-chart {
  width: 80%;
}
